<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.ChapterMapper">
  <resultMap id="BaseResultMap" type="com.alvis.exam.domain.Chapter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="criterion" jdbcType="INTEGER" property="criterion" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type_id, sequence, criterion
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_chapter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_chapter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alvis.exam.domain.Chapter">
    insert into t_chapter (id, name, type_id,
      sequence, criterion)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER},
      #{sequence,jdbcType=INTEGER}, #{criterion,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.alvis.exam.domain.Chapter">
    insert into t_chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="criterion != null">
        criterion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="criterion != null">
        #{criterion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alvis.exam.domain.Chapter">
    update t_chapter
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="criterion != null">
        criterion = #{criterion,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  =================分割==================-->
  <select id="findByTypeId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
    name
    from t_chapter
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>

  <select id="findChapterIdByName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    id
    from t_chapter
    where name = #{chapter,jdbcType=INTEGER}
  </select>

  <select id="findAll"  resultType="com.alvis.exam.domain.Chapter">
    select
    *
    from t_chapter
  </select>

  <select id="findNameByChapterId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
    name
    from t_chapter
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>

  <select id="findAllByTypeId" parameterType="java.lang.Integer" resultType="com.alvis.exam.domain.Chapter">
    select
    *
    from t_chapter
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>

  <!-- 添加章节 -->
  <insert id="insertChapter" parameterType="com.alvis.exam.domain.Chapter">
    insert into t_chapter (id, name, type_id,
      sequence, criterion, state)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER},
      #{sequence,jdbcType=INTEGER}, #{criterion,jdbcType=INTEGER}, #{state,jdbcType=INTEGER})
  </insert>
  <!-- 修改章节 -->
  <update id="updateChapter" parameterType="com.alvis.exam.domain.Chapter">
    update t_chapter
    set name = #{name,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=INTEGER},
      criterion = #{criterion,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 删除章节 -->
  <update id="deleteChapterById" parameterType="com.alvis.exam.domain.Chapter">
    update t_chapter
    set
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 查询章节 -->
  <select id="queryChapter" resultType="com.alvis.exam.domain.Chapter">
    select id,name,type_id as typeId,sequence,criterion,state from t_chapter where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <!-- 获取下一排序号 -->
  <select id="getNextSequence" resultType="com.alvis.exam.domain.Chapter">
    SELECT * FROM t_chapter where type_id=#{typeId,jdbcType=INTEGER} ORDER BY sequence DESC LIMIT 0,1
  </select>

</mapper>