<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.FxdhqkbFgsKhxxcxMapper">
  <resultMap id="BaseResultMap" type="com.alvis.exam.domain.FxdhqkbFgsKhxxcx">
    <result column="xh" jdbcType="VARCHAR" property="xh" />
    <result column="khbm" jdbcType="VARCHAR" property="khbm" />
    <result column="khmc" jdbcType="VARCHAR" property="khmc" />
    <result column="jydz" jdbcType="VARCHAR" property="jydz" />
    <result column="khfd" jdbcType="VARCHAR" property="khfd" />
    <result column="dhzqbm" jdbcType="VARCHAR" property="dhzqbm" />
    <result column="xkzh" jdbcType="VARCHAR" property="xkzh" />
    <result column="dhzq" jdbcType="VARCHAR" property="dhzq" />
    <result column="yt" jdbcType="VARCHAR" property="yt" />
    <result column="fzr" jdbcType="VARCHAR" property="fzr" />
    <result column="dhdh" jdbcType="VARCHAR" property="dhdh" />
    <result column="khzt" jdbcType="VARCHAR" property="khzt" />
    <result column="fgs" jdbcType="VARCHAR" property="fgs" />
    <result column="scb" jdbcType="VARCHAR" property="scb" />
    <result column="khjl" jdbcType="VARCHAR" property="khjl" />
    <result column="gjjfl" jdbcType="VARCHAR" property="gjjfl" />
    <result column="fzrdh" jdbcType="VARCHAR" property="fzrdh" />
    <result column="jsfs" jdbcType="VARCHAR" property="jsfs" />
    <result column="fplx" jdbcType="VARCHAR" property="fplx" />
    <result column="bydh" jdbcType="VARCHAR" property="bydh" />
    <result column="xkzsxrq" jdbcType="VARCHAR" property="xkzsxrq" />
    <result column="gjjbm" jdbcType="VARCHAR" property="gjjbm" />
    <result column="rwrq" jdbcType="VARCHAR" property="rwrq" />
    <result column="xkzzzbzrq" jdbcType="VARCHAR" property="xkzzzbzrq" />
    <result column="zlxzmc" jdbcType="VARCHAR" property="zlxzmc" />
    <result column="dhfs" jdbcType="VARCHAR" property="dhfs" />
    <result column="zdlx" jdbcType="VARCHAR" property="zdlx" />
    <result column="zhjzfl" jdbcType="VARCHAR" property="zhjzfl" />
    <result column="lsd" jdbcType="VARCHAR" property="lsd" />
    <result column="mbxfqzy" jdbcType="VARCHAR" property="mbxfqzy" />
    <result column="mbxfqtz" jdbcType="VARCHAR" property="mbxfqtz" />
    <result column="sszmj" jdbcType="VARCHAR" property="sszmj" />
    <result column="sspq" jdbcType="VARCHAR" property="sspq" />
    <result column="qyxz" jdbcType="VARCHAR" property="qyxz" />
    <result column="fzrsfzh" jdbcType="VARCHAR" property="fzrsfzh" />
    <result column="fzrxb" jdbcType="VARCHAR" property="fzrxb" />
    <result column="ztdhfs" jdbcType="VARCHAR" property="ztdhfs" />
    <result column="jyfw" jdbcType="VARCHAR" property="jyfw" />
    <result column="sfzyd" jdbcType="VARCHAR" property="sfzyd" />
    <result column="sqlx" jdbcType="VARCHAR" property="sqlx" />
    <result column="sfgnd" jdbcType="VARCHAR" property="sfgnd" />
    <result column="jygm" jdbcType="VARCHAR" property="jygm" />
    <result column="sclx" jdbcType="VARCHAR" property="sclx" />
    <result column="shlx" jdbcType="VARCHAR" property="shlx" />
  </resultMap>
  <insert id="insert" parameterType="com.alvis.exam.domain.FxdhqkbFgsKhxxcx">
    insert into fxdhqkb_fgs_khxxcx (xh, khbm, khmc, 
      jydz, khfd, dhzqbm, 
      xkzh, dhzq, yt, fzr, 
      dhdh, khzt, fgs, scb, 
      khjl, gjjfl, fzrdh, 
      jsfs, fplx, bydh, xkzsxrq, 
      gjjbm, rwrq, xkzzzbzrq, 
      zlxzmc, dhfs, zdlx, 
      zhjzfl, lsd, mbxfqzy, 
      mbxfqtz, sszmj, sspq, 
      qyxz, fzrsfzh, fzrxb, 
      ztdhfs, jyfw, sfzyd, 
      sqlx, sfgnd, jygm, 
      sclx, shlx)
    values (#{xh,jdbcType=VARCHAR}, #{khbm,jdbcType=VARCHAR}, #{khmc,jdbcType=VARCHAR}, 
      #{jydz,jdbcType=VARCHAR}, #{khfd,jdbcType=VARCHAR}, #{dhzqbm,jdbcType=VARCHAR}, 
      #{xkzh,jdbcType=VARCHAR}, #{dhzq,jdbcType=VARCHAR}, #{yt,jdbcType=VARCHAR}, #{fzr,jdbcType=VARCHAR}, 
      #{dhdh,jdbcType=VARCHAR}, #{khzt,jdbcType=VARCHAR}, #{fgs,jdbcType=VARCHAR}, #{scb,jdbcType=VARCHAR}, 
      #{khjl,jdbcType=VARCHAR}, #{gjjfl,jdbcType=VARCHAR}, #{fzrdh,jdbcType=VARCHAR}, 
      #{jsfs,jdbcType=VARCHAR}, #{fplx,jdbcType=VARCHAR}, #{bydh,jdbcType=VARCHAR}, #{xkzsxrq,jdbcType=VARCHAR}, 
      #{gjjbm,jdbcType=VARCHAR}, #{rwrq,jdbcType=VARCHAR}, #{xkzzzbzrq,jdbcType=VARCHAR}, 
      #{zlxzmc,jdbcType=VARCHAR}, #{dhfs,jdbcType=VARCHAR}, #{zdlx,jdbcType=VARCHAR}, 
      #{zhjzfl,jdbcType=VARCHAR}, #{lsd,jdbcType=VARCHAR}, #{mbxfqzy,jdbcType=VARCHAR}, 
      #{mbxfqtz,jdbcType=VARCHAR}, #{sszmj,jdbcType=VARCHAR}, #{sspq,jdbcType=VARCHAR}, 
      #{qyxz,jdbcType=VARCHAR}, #{fzrsfzh,jdbcType=VARCHAR}, #{fzrxb,jdbcType=VARCHAR}, 
      #{ztdhfs,jdbcType=VARCHAR}, #{jyfw,jdbcType=VARCHAR}, #{sfzyd,jdbcType=VARCHAR}, 
      #{sqlx,jdbcType=VARCHAR}, #{sfgnd,jdbcType=VARCHAR}, #{jygm,jdbcType=VARCHAR}, 
      #{sclx,jdbcType=VARCHAR}, #{shlx,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.alvis.exam.domain.FxdhqkbFgsKhxxcx">
    insert into fxdhqkb_fgs_khxxcx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        xh,
      </if>
      <if test="khbm != null">
        khbm,
      </if>
      <if test="khmc != null">
        khmc,
      </if>
      <if test="jydz != null">
        jydz,
      </if>
      <if test="khfd != null">
        khfd,
      </if>
      <if test="dhzqbm != null">
        dhzqbm,
      </if>
      <if test="xkzh != null">
        xkzh,
      </if>
      <if test="dhzq != null">
        dhzq,
      </if>
      <if test="yt != null">
        yt,
      </if>
      <if test="fzr != null">
        fzr,
      </if>
      <if test="dhdh != null">
        dhdh,
      </if>
      <if test="khzt != null">
        khzt,
      </if>
      <if test="fgs != null">
        fgs,
      </if>
      <if test="scb != null">
        scb,
      </if>
      <if test="khjl != null">
        khjl,
      </if>
      <if test="gjjfl != null">
        gjjfl,
      </if>
      <if test="fzrdh != null">
        fzrdh,
      </if>
      <if test="jsfs != null">
        jsfs,
      </if>
      <if test="fplx != null">
        fplx,
      </if>
      <if test="bydh != null">
        bydh,
      </if>
      <if test="xkzsxrq != null">
        xkzsxrq,
      </if>
      <if test="gjjbm != null">
        gjjbm,
      </if>
      <if test="rwrq != null">
        rwrq,
      </if>
      <if test="xkzzzbzrq != null">
        xkzzzbzrq,
      </if>
      <if test="zlxzmc != null">
        zlxzmc,
      </if>
      <if test="dhfs != null">
        dhfs,
      </if>
      <if test="zdlx != null">
        zdlx,
      </if>
      <if test="zhjzfl != null">
        zhjzfl,
      </if>
      <if test="lsd != null">
        lsd,
      </if>
      <if test="mbxfqzy != null">
        mbxfqzy,
      </if>
      <if test="mbxfqtz != null">
        mbxfqtz,
      </if>
      <if test="sszmj != null">
        sszmj,
      </if>
      <if test="sspq != null">
        sspq,
      </if>
      <if test="qyxz != null">
        qyxz,
      </if>
      <if test="fzrsfzh != null">
        fzrsfzh,
      </if>
      <if test="fzrxb != null">
        fzrxb,
      </if>
      <if test="ztdhfs != null">
        ztdhfs,
      </if>
      <if test="jyfw != null">
        jyfw,
      </if>
      <if test="sfzyd != null">
        sfzyd,
      </if>
      <if test="sqlx != null">
        sqlx,
      </if>
      <if test="sfgnd != null">
        sfgnd,
      </if>
      <if test="jygm != null">
        jygm,
      </if>
      <if test="sclx != null">
        sclx,
      </if>
      <if test="shlx != null">
        shlx,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        #{xh,jdbcType=VARCHAR},
      </if>
      <if test="khbm != null">
        #{khbm,jdbcType=VARCHAR},
      </if>
      <if test="khmc != null">
        #{khmc,jdbcType=VARCHAR},
      </if>
      <if test="jydz != null">
        #{jydz,jdbcType=VARCHAR},
      </if>
      <if test="khfd != null">
        #{khfd,jdbcType=VARCHAR},
      </if>
      <if test="dhzqbm != null">
        #{dhzqbm,jdbcType=VARCHAR},
      </if>
      <if test="xkzh != null">
        #{xkzh,jdbcType=VARCHAR},
      </if>
      <if test="dhzq != null">
        #{dhzq,jdbcType=VARCHAR},
      </if>
      <if test="yt != null">
        #{yt,jdbcType=VARCHAR},
      </if>
      <if test="fzr != null">
        #{fzr,jdbcType=VARCHAR},
      </if>
      <if test="dhdh != null">
        #{dhdh,jdbcType=VARCHAR},
      </if>
      <if test="khzt != null">
        #{khzt,jdbcType=VARCHAR},
      </if>
      <if test="fgs != null">
        #{fgs,jdbcType=VARCHAR},
      </if>
      <if test="scb != null">
        #{scb,jdbcType=VARCHAR},
      </if>
      <if test="khjl != null">
        #{khjl,jdbcType=VARCHAR},
      </if>
      <if test="gjjfl != null">
        #{gjjfl,jdbcType=VARCHAR},
      </if>
      <if test="fzrdh != null">
        #{fzrdh,jdbcType=VARCHAR},
      </if>
      <if test="jsfs != null">
        #{jsfs,jdbcType=VARCHAR},
      </if>
      <if test="fplx != null">
        #{fplx,jdbcType=VARCHAR},
      </if>
      <if test="bydh != null">
        #{bydh,jdbcType=VARCHAR},
      </if>
      <if test="xkzsxrq != null">
        #{xkzsxrq,jdbcType=VARCHAR},
      </if>
      <if test="gjjbm != null">
        #{gjjbm,jdbcType=VARCHAR},
      </if>
      <if test="rwrq != null">
        #{rwrq,jdbcType=VARCHAR},
      </if>
      <if test="xkzzzbzrq != null">
        #{xkzzzbzrq,jdbcType=VARCHAR},
      </if>
      <if test="zlxzmc != null">
        #{zlxzmc,jdbcType=VARCHAR},
      </if>
      <if test="dhfs != null">
        #{dhfs,jdbcType=VARCHAR},
      </if>
      <if test="zdlx != null">
        #{zdlx,jdbcType=VARCHAR},
      </if>
      <if test="zhjzfl != null">
        #{zhjzfl,jdbcType=VARCHAR},
      </if>
      <if test="lsd != null">
        #{lsd,jdbcType=VARCHAR},
      </if>
      <if test="mbxfqzy != null">
        #{mbxfqzy,jdbcType=VARCHAR},
      </if>
      <if test="mbxfqtz != null">
        #{mbxfqtz,jdbcType=VARCHAR},
      </if>
      <if test="sszmj != null">
        #{sszmj,jdbcType=VARCHAR},
      </if>
      <if test="sspq != null">
        #{sspq,jdbcType=VARCHAR},
      </if>
      <if test="qyxz != null">
        #{qyxz,jdbcType=VARCHAR},
      </if>
      <if test="fzrsfzh != null">
        #{fzrsfzh,jdbcType=VARCHAR},
      </if>
      <if test="fzrxb != null">
        #{fzrxb,jdbcType=VARCHAR},
      </if>
      <if test="ztdhfs != null">
        #{ztdhfs,jdbcType=VARCHAR},
      </if>
      <if test="jyfw != null">
        #{jyfw,jdbcType=VARCHAR},
      </if>
      <if test="sfzyd != null">
        #{sfzyd,jdbcType=VARCHAR},
      </if>
      <if test="sqlx != null">
        #{sqlx,jdbcType=VARCHAR},
      </if>
      <if test="sfgnd != null">
        #{sfgnd,jdbcType=VARCHAR},
      </if>
      <if test="jygm != null">
        #{jygm,jdbcType=VARCHAR},
      </if>
      <if test="sclx != null">
        #{sclx,jdbcType=VARCHAR},
      </if>
      <if test="shlx != null">
        #{shlx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <select id="findBasic"  resultMap="BaseResultMap">
    select
    *
    from fxdhqkb_fgs_khxxcx
  </select>


  <select id="findDetails"  resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    *
    from fxdhqkb_fgs_khxxcx
    where xh = #{xh,jdbcType=VARCHAR}
  </select>




</mapper>