<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.XmindMapper">
    <resultMap id="BaseResultMap" type="com.alvis.exam.domain.Xmind">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="route" jdbcType="VARCHAR" property="route" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
    </resultMap>

    <sql id="Base_Column_List">
        id, code, name, route, user_id
    </sql>
    <insert id="insertSelective" parameterType="com.alvis.exam.domain.Xmind">
        insert into t_xmind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="route != null">
                route,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="route != null">
                #{route,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.alvis.exam.domain.Xmind">
        update t_xmind
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="route != null">
                route = #{route,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_xmind
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteXmindByIds">
        delete from t_xmind where id in
        <foreach item="id" collection="list" open="(" separator=","
                 close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insertXmind" parameterType="com.alvis.exam.domain.Xmind">
        insert into t_xmind (id, code, name,
          route, user_id)
        values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
          #{route,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER})
    </insert>

    <update id="updateXmind" parameterType="com.alvis.exam.domain.Xmind">
        update t_xmind
        set code = #{code,jdbcType=VARCHAR},
          name = #{name,jdbcType=VARCHAR},
          route = #{route,jdbcType=VARCHAR},
          user_id = #{userId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
     </update>

    <select id="checkXmindCode" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select count(0) from t_xmind where code=#{code,jdbcType=VARCHAR}
    </select>

    <select id="queryXmind" resultType="com.alvis.exam.domain.Xmind">
       select * from t_xmind
        <where>
            <if test="code != null">
                and code= #{code}
            </if>
            <if test="name != null">
                and name= #{name}
            </if>
            <if test="route != null">
                and route= #{route}
            </if>
        </where>
    </select>

</mapper>